extends layout

block content
  style.
    .container {
      width: 100px;
      height: 100px;
    }
    form {
      border: 1px solid red;
    }
    input{
      width: 100px;
      height: 100px;
    }
  .container
    form#uploadFile(enctype="multipart/form-data")
      input(type="file" name="inputFile")
  script#editor(type="text/plain")
  button.get 获取
  script.
    var editor = new UE.ui.Editor({initialFrameHeight:400});
    editor.render("editor");
    $('.container').change(function() {
      var formData = new FormData($('#uploadFile')[0]);
      console.log(formData)
      $.ajax({
        type: 'post',
        url: '/upload/uploadFile',
        data: formData,
        dataType: 'json',
        async: false,
        cache: false,
        contentType: false,
        processData: false,
        success: function (data) {
          console.log(data)
        }
      })
    })
    $('.get').click(function() {
      console.log(editor.getContent());
    })
